<div class="container">

  <div class="row my-4">
    <div class="col-6 mx-auto p-4 bg-light shadow rounded">
	
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="field">
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control my-2", placeholder:"Email" %>
		  </div>

		  <div class="actions">
			<%= f.submit "Send me reset password instructions",class:"btn btn-primary w-100 my-3" %>
		  </div>
		<% end %>

		<%= render "users/shared/links" %>

    </div>
  </div>
  
</div>