<!-- Footer -->
<footer class="page-footer font-small indigo bg-dark text-light py-4 border-top">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3">Support</h5>

        <ul class="list-unstyled">
          <li><%= link_to 'Contact Us', welcome_help_path%></li>
          <li><%= link_to 'FAQs', welcome_faq_path%></li>
          <li><%= link_to 'Sitemap', welcome_sitemap_path%></li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-6 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3">Other</h5>
        <ul class="list-unstyled">
    			<li><%= link_to 'About', welcome_about_path%></li>
    			<li><%= link_to 'Terms of Service', welcome_tos_path%></li>
    			<li><%= link_to 'Privacy Policy', welcome_privacy_policy_path%></li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:CardMaestro-Group6</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->