<div class="container">
	<div class="row" style="margin: 40px 0px;">
    	<div class="col-12 border rounded bg-white shadow p-4">
			<%= stylesheet_link_tag "user_profile" %>
			<div class="user-profile">
				<h1 style="margin-bottom: 30px;">
					<b class="border-bottom border-top border-dark">PERSONAL COLLECTION.</b>
				</h1>
      			<hr>
				<div class="personal-collections">
					<% @personalcards.each do |card| %>
						<div class="mycard-container">
							<% if card.image.attached? %>
								<%= image_tag card.image, :alt => card.title, width: 244, height: 361, class: "card_pic" %>
							<% else %>
								<%= image_tag card.imageurl, :alt => card.title, width: 244, height: 361, class: "card_pic" %>
							<% end %>
							<div class="card-body text-center">
								<p><strong><%= card.title %></strong><br><%= card.set %></p>
		    					<div class="customized-btn-group">
		      						<%= link_to 'Update', edit_card_ownership_path(current_user.card_ownerships.find_by(card_id: card.id)), class:"btn btn-primary", id:"update" %>
		    					</div>
							</div>
						</div>
					<% end %>
				</div>
				<div class="back-btn">
			    	<%= link_to "Back", root_path %>
			  	</div>
			</div>
		</div>
	</div>	
</div>